.body {
  background-image: url("./renato-ramos-puma-jMJSWuO2RaY-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

  display: flex;
  flex-direction: column;
  /* border: solid yellow 3px; */
}

.header {
  margin: 0 10%;
  padding: 5% 1% 0 1%;

  text-align: center;
  font-family: "Secular One", sans-serif;
  font-size: 2rem;
  background-color: transparent;
  color: white;
  /* border: solid green 3px; */
}

.p {
  margin: 0 10%;
  padding: 5% 0;
  font-family: "Secular One", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  font-size: 1.5rem;
  color: white;
  /* border: solid red 5px; */
}

.ul {
  color: white;
  list-style: none;
  /* border: solid blue 5px; */
}

@media (min-width: 800px) {
  .body {
    background-size: cover;
    background-position: top;
  }
}
