@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  margin: 0;
}

.Container {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  height: 700px;
  max-width: 450px;
  margin: 30px auto;
  border: 2px solid black;
  box-shadow: 0 2.5px rgba(104, 104, 104, 0.8);
  padding: 30px;
  border-radius: 5px;
  background-color: rgb(228, 216, 202);
  color: #fffeef;
}

.loading {
  color: black;
}

@media screen and (max-width: 600px) {
  .container {
    height: 100%;
  }
}
