@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.Container {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  min-height: 100vh;
  max-width: 500px;
  margin: 30px auto;
  border: 1px solid black;
  padding: 30px;
  border-radius: 5px;
  background-color: #e3e5f3;
}
