.submit {
  width: 100px;
}

form {
  text-align: center;
  transform: rotate(0deg);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

form input:focus {
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
  transform: rotate(-5deg)
}