* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
}

.background {
  background-image: url("./images/thomas-verbruggen-5A06OWU6Wuc-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;

  /* add scroll */
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  margin-top: 0;
  padding: 1%;
  border-bottom: solid rgb(35 117 67);
  text-align: center;
  font-family: "Secular One", sans-serif;
  font-size: 3em;
  background-color: white;
  color: rgb(35 117 67);
}

.nav {
  background-color: white;
  color: rgb(50 82 123);

  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  font-family: "Poppins", sans-serif;
}

.site-name {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li:hover {
  background-color: white;
  color: rgb(35 117 67);
}
