.input {
  flex-grow: 1;
  overflow: auto;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  padding-left: 1%;
}

.btn {
  background: none;
  margin-left: auto;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(35 117 67);
  color: white;
}
