.ListBox{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: fit-content;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}